<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Bon achats</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mobiles</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, quidem sunt. Dignissimos, sapiente ut? Eligendi, sequi. Ab illum autem nesciunt quia, illo odit pariatur iste rem vel. Veniam neque quia optio nam accusamus cumque quas..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>PC Portables</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque doloribus, quas laboriosam reprehenderit dolor minima quod repellat! Est neque in dolor error nemo iure delectus cupiditate nobis animi doloribus? Voluptatem..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Camera</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consequuntur obcaecati, excepturi itaque architecto accusantium odio eos delectus laborum officiis tenetur, ullam eius. Minus, modi quasi? Eum perspiciatis corporis sit?</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tablettes</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id asperiores autem alias nisi voluptate nesciunt dolor quasi perferendis veritatis explicabo quo, earum eligendi nulla debitis at commodi, error minus rerum.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Fait parti
                        <br />
                        De notre
                        <br />
                        magasin!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>