<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon></mat-icon> Geek Galaxy Store
    </a>
    <ul>
      <li>
        <i>
          <a (click)="handleLoginAction()">Login</a>
          <a (click)="handleSignupAction()">Signup</a>
          <a (click)="handleForgotPasswordAction()">Forgot Password</a>
        </i>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>&copy;2023 Copyright | Geek Galaxy Store </h2>
</div>